{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    
    <section id="presentation">
        <div class="jumbotron text-center">
            <h1>Tableau de bord</h1>
        </div>
    </section>
    
    {% if app.user %}

    <section class="articles">
      
        <div class="jumbotron text-center">
            <h2>Gestionnaire des articles</h2>
        </div>
        
        <div class="container text-center">
            <button type="button" class="btn btn-success"><a class="text-white" href={{ path('blog_create') }}>Créer un article</a></button>
        </div>

        {% for article in articles %}
            <article>
                <div class="example-wrapper">
                    <div class = "jumbotron">
                        <h2 class="text-center">{{ article.title }}</h2>
                        <div class="metadata text-center">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }} dans la catégorie {{article.category.title}}</div>
                        <div class="content">   
                            <img class="rounded mx-auto d-block w-25" src="{{ article.image }}" alt="image de l'article">
                                <br>
                                {{ article.content | raw }}
                                <br>
                                <hr>
                            <div class="row">
                                <div class="col">
                                    <div class="container text-center">
                                        <button type="button" class="btn btn-info"><a class="text-white" href={{ path('blog_edit', {'id': article.id}) }}>Modifier l'article</a></button>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="container text-center">
                                        <button type="button" class="btn btn-info"><a class="text-white" href={{ path('blog_delete', {'id': article.id}) }}>Supprimer l'article</a></button>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </article>
        {% else %}
            <div class="alert alert-dismissible alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4 class="alert-heading">Pas d'articles</h4>
                <p class="mb-0">Vous pouvez en créer un</p>
            </div>
        {% endfor %}

    </section>

    <section class="contacts">

        <div class="jumbotron text-center">
            <h2>Liste des requêtes reçues</h2>
        </div>
        {% for contact in contacts %}
            <contact>
                <div class="example-wrapper">
                    <div class="jumbotron">
                        <h2 class="text-center">{{ contact.firstname }} {{ contact.lastname }}</h2>
                        <div class="metadata text-center">Reçu le {{ contact.dateOfReceipt | date('d/m/Y') }} à {{ contact.dateOfReceipt | date('H:i') }} avec pour objet {{contact.needs}}</div>
                            <p><b>
                                Coordonnées :<br />
                                Email : {{ contact.email }}<br />
                                Numéro de téléphone : {{ contact.phone }}<br />
                                Société : {{ contact.society }}<br />
                            </b></p>
                            <div class="content">  
                                {{ contact.message | raw }} 
                            </div> 
                        </div>
                    </div>
                </div>
            </contact>
        {% endfor %}

    </section>

    <section class="newsletter-members">

        <div class="jumbotron text-center">
            <h2>Liste des membres inscrits à la newsletter </h2>
        </div>

        {% for newsletterMember in newsletterMembers %}
            <newsletterMembers>
                
                <div class="example-wrapper">
                    <div class="jumbotron">
                        <h2 class="text-center">{{ newsletterMember.firstname }} {{ newsletterMember.lastname }}</h2>
                        <div class="content text-center">  
                            Email : {{ newsletterMember.email }}<br />
                        </div>     
                    </div>
                </div>

            </newsletterMembers>
        {% endfor %}
    
    </section>
    {% else %}

        <p> Vous n'êtes pas authentifié </p>    

    {% endif %}

{% endblock %}
