<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Agence DIGITALINK{% endblock %}</title>
        
        {% block stylesheets %}
        <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
        {% endblock %}
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href={{ path('home') }}><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><img class="w-50" src="img/logotext.png" alt="icon-logo"/></font></font></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href={{ path('home') }}>Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ path('catalog') }}>Catalogue</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ path('references') }}>Références</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ path('blog') }}>Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ path('contact') }}>Contact</a>
                    </li>
                    {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href={{ path('dashboard') }}>Tableau de bord</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ path('logout') }}>Déconnexion</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
    <footer>
        <br />
        <div class="row">
            <div class="col ml-5">
                <img src="img/logoseul.png" alt="mini-logo" height="50" width="50"/><br />
            </div>
            <div class="col">
                <a class="text-dark" href={{ path('cgv') }}>Conditions générales de vente</a><br />
            </div>
            <div class="col">
                <a class="text-dark" href={{ path('ml') }}>Mentions légales</a><br />
            </div>
            <div class="col">
                <a class="text-dark" href={{ path('pdc') }}>Politique de confidentialité</a><br />
            </div>
            <div class="col">
                <a href="https://www.facebook.com/Agence-Digitalink-106726710680912/?modal=admin_todo_tour"><image src="img/fb.png" alt="icon-facebook" height="50" width="50"/></a>
                <a href="https://www.linkedin.com/in/magali-couaillet-855815155/"><image src="img/ld.png" alt="icon-linkedin" height="50" width="50"/></a>
            </div>
        </div>
  </footer>
</html>
